.add-note-button {
    font-size: 3rem;
    padding: .4em;
    position: fixed;
    right: 10%;
    bottom: 10%;
    transition: background-color .2s, color .2s;
    box-shadow: 0 0 .5em #adaeaf;
    z-index: 10000;
    
    &:hover {
        color: #fff;
        background-color: sandybrown;
    }

    &.hide {
        display: none;
    }

    @media screen and (min-width: 576px) {
        & {
            font-size: 4rem;
            padding: .4em;  
        }
    }
}