.note-editor {
    border-radius: .4em;
    padding: 1em;
    min-height: 10em;
    width: calc(100% / 12 * 12 - 1em);
    display: flex;
    flex-direction: column;
    white-space: pre-wrap; /* keep the line spacing */
    background-color: #fdfdfd;
    box-shadow: 0 0 1em #7c7d7e;
    // max-height: 20em;
    max-height: 100%;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    // bottom: 0;
    display: none;

    &-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: auto;
        
        &-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-close-btn {
        position: absolute;
        top: 5%;
        right: 2.5%;
        cursor: pointer;

        &:hover {
            color: sandybrown;
        }
    }

    &.show {
        display: flex;
    }

    &-title {
        font-family: 'Fredericka the Great', cursive;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        outline: none;
    }

    &-image {
        display: block;
        max-width: 30%;
        margin: 0 auto;
    }

    .textarea {
        font-size: 1rem;
        cursor: auto;
        height: 12em;
        overflow: auto;
        outline: none;
        margin-bottom: 0;

        /* Add placeholder to the textarea */
        &:empty:not(:focus):before {
            content: attr(data-placeholder);
            color: #979797;
        }
    }

    .save-btn {
        background-color: #dbdcdf;
        transition: background-color .2s, color .2s; 

        &:hover {
            background-color: sandybrown;
            color: #fff;
        }
    }

    @media screen and (min-width: 576px) {
        &   {
            width: 55%;
        }
    }

    @media screen and (min-width: 768px) {
        &   {
            width: 50%;
        }
    }
      
    @media screen and (min-width: 992px) {
        &   {
            width: 40%;
        } 
    }
}