.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;

    &-item {
        margin-top: 5px;
        margin-right: 5px;
        
        &:last-child {
            margin-right: 0;
        }
    }
    
    .controls-btn {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.5rem;
        padding: .5em .6em;
        cursor: pointer;
        color: #7c7d7e;
        transition: color 0.4s;

        &:hover {
            color: #1f1f1f;
        }
    }
}

.controls::-webkit-scrollbar {
    height: 7px;
}

.controls::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b2b3b4;
    border-radius: 10px;
}

.controls::-webkit-scrollbar-thumb {
    background: #b2b3b4;
    border-radius: 10px;
}